html, body {
  text-align: center;
  font-family: 'Crimson Text', Times;
  margin: 0;
  padding: 0;
  background: #111;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body.no-webgl {
  background: #888;
}

input, select {
  font-family: 'Crimson Text', Times;
}

div.top {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.7);
  font-size: 0.8em;
  z-index: 4000;
}

div.top > a {
  display: block;
  padding: 6px;
}

section#group-descriptions {
  display: none;
}

.details img {
  margin: auto;
  display: block;
}

.details div {
  text-align: justify;
  line-height: 1.2em;
  padding: 5px;
  font-weight: 0.9em;
}

section#controls {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 220px;
  background-color: rgba(255, 255, 255, 0.7);
}

section#controls canvas {
  box-shadow:inset 0 0 5px #222;
  margin: auto;
}

section#controls > .options-body,
section#controls > header {
  text-align: left;
  padding: 3px;
}

section#controls > .options-body.other,
section#controls > .options-body.pattern > .controls {
  text-align: right;
}

section#controls > .options-body.other {}
section#controls > header {
  background-image: linear-gradient(bottom, rgb(255,255,255) 0%, rgb(204,204,204) 98%);
  background-image: -o-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(204,204,204) 98%);
  background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(204,204,204) 98%);
  background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(204,204,204) 98%);
  background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(204,204,204) 98%);
  margin: 0 0 7px 0;
  text-indent: 2px;
  border-top: 1px solid #bbb;
}

section#controls > .options-body.pattern {
  text-align: center;
}

.buttons {
  margin-top: 10px;
}

.webkit #controls section.controls input[type=color] {
  position: relative;
  margin: 0;
  top: 7px;
}

.webkit #controls section.controls input[type=range] {
  position: relative;
  top: 5px;
}

#controls section.controls input,
#controls section.controls select {
  width: 100px;
  padding: 0;
  margin: 5px 0 5px 5px;
}

section#controls > .options-body {
  font-size: 0.9em;
}

#container {
  margin: auto;
}

body.no-webgl #container {
  display: none;
}

div.fallback {
  display: none;
}

body.no-webgl div.fallback {
  display: block;
}

.description {
  width: 200px;
  font-size: 13px;
  position: absolute;
  padding: 5px;
  text-align: left;
  right: 8px;
  top: 8px;
  border: 1px solid #ccc;
  background-color: rgb(255, 241, 168);
}

#title {
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 1.1em;
}

h1 {
  text-shadow: rgba(0, 0, 0, 0.2) 0 0 3px;
  margin: 5px;
}

#canvas-container {
}

canvas#surface {
}

canvas {
}

footer {
  color: white;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  text-shadow: 0 0 5px #fff;
}

footer > a {
  color: white;
  text-shadow: 0 0 5px #fff;
}
