{
  "presets": [
  	["es2015", {modules: false}],
    ["minify", {
      "mangle": false
    }]
  ],
  "plugins": [
    "version-inline",
  	"./babel-plugin-tree-shaking.js"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
