{
  "parser": "babel-eslint",
  "rules": {
    guard-for-in: 0,
    indent: [2, 2],
    func-names: 0,
  },
  "plugins": [
      "react"
  ],
  "ecmaFeatures": {
    "modules": true,
    "objectLiteralComputedProperties": true,
    "experimentalObjectRestSpread": true,
    "jsx": true
  }
}