{
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "extends": [
    "uber-es2015",
    "prettier"
  ],
  "plugins": [
    "tree-shaking",
    "luma-gl-custom-rules"
  ],
  "rules": {
    "guard-for-in": 0,
    "no-inline-comments": 0,
    "camelcase": 0,
    "tree-shaking/no-side-effects-in-initialization": 0,
    "luma-gl-custom-rules/check-log-call": 1
  }
}
