{
  "extends": [
    "uber-es2015",
    "prettier"
  ],
  "plugins": [
    "tree-shaking"
  ],
  "rules": {
    "guard-for-in": 0,
    "no-inline-comments": 0,
    "camelcase": 0,
    "tree-shaking/no-side-effects-in-initialization": 0
  }
}
