build/*
dist/*
dist-es6/*
dist-min/*
dist-buble/*
**/dist/*

_docs/
.nyc_output/
coverage/
node_modules/
npm-debug.log
stats.json

test/data/test.png

package-lock.json
*/**/yarn.lock
yarn-error.log

.project
.DS_Store
*.zip
*.rar
TODO

# editor files
.idea
