build/*
dist/*
dist-es6/*
dist-min/*
dist-buble/*
**/dist/*
website*/public/*
website-docusaurus

tsconfig.tsbuildinfo
_docs/
.nyc_output/
coverage/
node_modules/
npm-debug.log
stats.json
.reify-cache
.cache

test/data/test.png

package-lock.json
*/**/yarn.lock
yarn-error.log
lerna-debug.log

.project
.DS_Store
*.zip
*.rar
TODO

# editor files
.idea
