{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": "true",
  "sourceMap": false,
  "instrument": true,
  "include": [
    "dev-modules/**/*.{js,ts}",
    "modules/**/src/**/*.{js,ts}"
  ],
  "exclude": [
    "**/deprecated",
    "**/bundle.js",
    "modules/test-utils/"
  ]
}
