{
  "all": "true",
  "sourceMap": false,
  "instrument": true,
  "include": [
    "dev-modules/**/*.js",
    "modules/**/src/**/*.js"
  ],
  "exclude": [
    "**/deprecated",
    "**/bundle.js",
    "modules/test-utils/"
  ]
}
