@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 400;
  src: local('Crimson Text'), local('CrimsonText-Roman'), url(font.woff) format('woff');
}

html, body {
  text-align: center;
  font-family: 'Crimson Text', Times, Verdana;
  margin: 0;
  padding: 0;
}

input, select {
  font-size: 15px;
  font-family: 'Crimson Text', Verdana;
}

input[type=range] {
  width: 840px;
  cursor: pointer;
}

input[type=range][disabled] {
  cursor: default;
}

button {
  font-size: 1.0em;
  cursor: pointer;
  background: red;
  color: white;
  border: none;
  margin-top: 8px;
}

button {
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  padding: 0.5em 1em 0.55em;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 0.5em;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

button:hover {
  text-decoration: none;
}

button:active {
  position: relative;
  top: 1px;
}

.blue { /* Blue */
  color: #d9eef7;
  border: solid 1px #0076a3;
  background: #007ead;
  background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
  background: -moz-linear-gradient(top,  #0095cc,  #00678e);
  background: -o-linear-gradient(top,  #0095cc,  #00678e);
  background: linear-gradient(top,  #0095cc,  #00678e);
}

.blue:hover {
  background: #0095cd;
  background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
  background: -moz-linear-gradient(top,  #00adee,  #0078a5);
  background: -o-linear-gradient(top,  #00adee,  #0078a5);
  background: linear-gradient(top,  #00adee,  #0078a5);
}

.blue:active {
  color: #80bed6;
  background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
  background: -moz-linear-gradient(top,  #0078a5,  #00adee);
  background: -o-linear-gradient(top,  #0078a5,  #00adee);
  background: linear-gradient(top,  #0078a5,  #00adee);
}

fieldset {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  text-align: left;
  margin: 5px 0;
}

#log-panel {
  font-family: Arial;
  margin: 0;
  position: fixed;
  top: 0;
  right: 0;
  padding: 5px;
  color: white;
  background-color: red;
  font-weight: bold;
  font-size: 0.9em;
  z-index: 4000;
}

input.error {
  background: #ffdddd;
}

#container {
  width: 900px;
  margin: auto;
}

body.no-webgl #container {
  display: none;
}

div.fallback {
  display: none;
}

body.no-webgl div.fallback {
  display: block;
}

.description {
  width: 600px;
  font-size: 13px;
  padding: 5px;
  text-align: left;
  right: 8px;
  top: 8px;
  border: 1px solid #CCC;
  background-color: #FFF1A8;
  float: right;
  margin-bottom: 10px;
}


sub {
  position: relative;
}

sub#from {
  left: 2px;
}

sub#to {
  left: -10px;
}

label {
  padding: 0 0 5px 0;
  cursor: pointer;
}

div.tooltip {
  opacity: 0.9;
  position: absolute;
  color: black;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #555;
  /*
  border-radius: 0.5em;
  border: 1px solid #ccc;
  background-color: -webkit-linear-gradient(#111, #666, #666);
  background-color: -moz-linear-gradient(top, #111, #666, #666);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  */
  font-size: 0.8em;
}

div.tooltip.show {
  display: block;
}

div.tooltip.hide {
  display: none;
}

div.tooltip > h1 {
  font-size: 1.1em;
}

div.tooltip > ul {
  margin: 0;
  padding: 5px;
  text-align: left;
}

div.tooltip > ul > li {
  list-style-type: none;
}

#title {

}

h1 {
  text-shadow: rgba(0, 0, 0, 0.2) 0 0 3px;
  margin: 5px;
}

.controls {
  position: relative;
  background: #E0ECFF;
  padding: 7px;
  border: 1px solid #ccc;
  margin: 7px 0;
/*  text-align: left;*/
}

.controls table tr td {
  text-align: left;
  margin: auto;
  font-size: 15px;
}

#canvas-container {
  margin: auto;
  position: relative;
}

#front-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 910px;
  height: 460px;
}

canvas {
  -webkit-box-shadow: #333 0 0 10px;
  -o-box-shadow: #333 0 0 10px;
  -moz-box-shadow: #333 0 0 10px;
  box-shadow: #333 0 0 10px;
  background: black;
}

.footer {
  margin: 4px;
  font-size: 13px;
}

