html, body {
    text-align: center;
    font-family: Verdana;
    margin: 0;
    padding: 0;
    background: #000;
    color: #fff;
}

input.error {
    background: #ffdddd;
}

#container {
    width: 1024px;
    position: relative;
    margin: auto;
}

h1 {
    margin: 5px;
    color: #8fb7fa;
}

h2 {
    margin: 10px;
}

td {
    vertical-align: top;
}

.title {
    text-align: center;
}

.controls {
    position: absolute;
    bottom: 8px;
    left: 8px;
    width: 978px;
    background: rgba(255, 255, 255, 0.3);
    padding: 7px;
    margin: 8px;
    color: #000;
    font-size: 13px;
    /*  text-align: left;*/
}

.controls table tr td {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    text-align: left;
    margin: auto;
}

.description {
    text-align: left;
    width: 750px;
    font-size: 13px;
    margin: 7px auto;
    padding: 7px 15px;
    border: 1px #333 solid;
    background: #cae5f4;
    border-radius: 7px;
    color: #111;
}

canvas {
    border: 1px solid #333;
    margin-top: 5px;
}

a {
    font-family: Helvetica;
}

.fullscreen canvas {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    z-index: 10;
}


