.banner .container {
  background: rgba(0, 0, 0, 0);
}

.banner .hero .options-panel {
  display: none;
}

.options-panel {
  width: 284px;
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  margin: 24px;
  padding: 12px 24px;
  outline: none;
}
.options-panel h3 {
  margin: 8px 0;
}

.options-panel .source-link {
  text-align: right;
  margin-top: 8px;
}

.options-panel .source-link  a {
  font-weight: bold;
}
