.button {
  align-items: center;
  background-color: var(--ifm-color-primary);
  border-radius: 6px;
  color: var(--ifm-color-white);
  cursor: pointer;
  display: inline-flex;
  font-size: 14px;
  font-family: var(--ifm-font-family-base);
  font-weight: 600;
  justify-content: center;
  letter-spacing: 0.3px;
  line-height: 14px;
  outline: 0;
  padding: 14px 32px;
  text-align: center;
  transition: background-color var(--ifm-transition-fast);
  vertical-align: middle;
}

.button:hover,
.button:focus,
.button:active,
.button:global(.active) {
  background-color: var(--ifm-color-primary-dark);
}

.button svg {
  margin-right: 8px;
}
