* {
  margin: 0;
  padding: 0;
}

html, body {
}

body {
  background-color: white;
  font: 0.8em helvetica, arial, clean, sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 10px;
}

h1 {
  font: 1.3em;
  margin-bottom: 1em;
}

h2 {
  font: 1.2em;
  padding: 3px;
  border-bottom: 1px solid #ccc;
  margin-top: 20px;
}

h3 {
  font-size: 1em;
}

h4 {
  font-size: 0.9em;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
}

a:hover {
  color: black;
}

a:visited {
  color: #00a;
}

table {
  font-size: inherit;
  font: 100%;
}

ul.doc {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.doc li {
  line-height: 1em;
}

ul.doc span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}


.site {
  font-size: 110%;
  text-align: justify;
  width: 900px;
  margin: 3em auto 2em auto;
  line-height: 1.4em;
}

.title {
  color: #a00;
  font-weight: bold;
  padding: 2px;
  margin-bottom: 1em;
  border-bottom: 1px solid #aaa;
  width: 500px;
}

.title img {
  width: 100px;
}

.site .title a {
  color: #a00;
  text-decoration: none;
}

.site .title a:hover {
  color: black;
}

.site .title a.extra {
  color: #aaa;
  text-decoration: none;
  margin-left: 1em;
}

.site .title a.extra:hover {
  color: black;
}

.site .meta {
  color: #aaa;
}

.footer {
  text-align: center;
  font-size: 80%;
  color: #666;
  border-top: 1px solid #eee;
  margin-top: 2em;
  margin-bottom: 1em;
  overflow: hidden;
}

#doc {
  width: 500px;
  float: left;
}

#doc .description {
  font-size: 0.7em;
}


#sidebar {
  font-size: 0.85em;
  width: 340px;
  line-height: 1.3em;
  float: right;
  padding: 0 5px;
}

#bio img {
  border: 1px solid cyan; 
  padding: 3px;
  float: left;
  margin-left: 10px;
  margin-bottom: 7px;
}

#modules, #method-summary {
  margin-top: 13px;
}

#modules ul, #method-summary ul {
  /*list-style: none;*/
  list-style-position: inside;
}

#modules ul li, 
#method-summary ul li {
  /*list-style: none;*/
  margin-top: 5px;
}

/* standard */

#doc pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
  font-size: 12px;
  line-height: 15px;
}

#doc ul,
#doc ol {
  margin-left: 1.35em;
  margin-bottom: 1em;
}

#doc code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

#doc pre code {
  border: none;
}



.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

