html, body {
  text-align: center;
  font-family: 'Crimson Text', Times;
  margin: 0;
  padding: 0;
}

#container {
  width: 1000px;
  height: 575px;
 margin: auto;
 position: relative;
}

body.no-webgl #container {
  display: none;
}

div.fallback {
  display: none;
}

body.no-webgl div.fallback {
  display: block;
  margin: 5px 0;
}

body.no-webgl .description {
  display: none;
}

.shadows {
  -webkit-box-shadow: #333 0 0 10px;
  -o-box-shadow: #333 0 0 10px;
  -moz-box-shadow: #333 0 0 10px;
  box-shadow: #333 0 0 10px;
}

.description {
  font-size: 14px;
  text-align: center;
  margin: 10px auto;
  padding: 3px 0;
  background-color: rgb(255, 241, 168);
  border: 1px solid #ccc;
  width: 1000px;
}

img.legend {
  margin: 9px auto;
  width: 190px;
  background: #444;
}

h1 {
  text-shadow: rgba(0, 0, 0, 0.2) 0 0 3px;
  margin: 5px;
}

label {
  cursor: pointer;
}

video {
  position: absolute;
  top:0;
  left:0;
}

#histogram-canvas {
  position: absolute;
  top: 0;
  right: 0;
}

.controls {
  position: absolute;
  bottom:0;
  left:0;
  background: #E0ECFF;
  width: 480px;
  height:300px;

  transition: height 1s;
  -o-transition: height 1s;
  -moz-transition: height 1s;
  -webkit-transition: height 1s;
}

.controls.camera {
  height: 200px;
}

.controls.camera li > img {
  display: none;
}

.controls.camera li {
  width: 150px;
}

div.section {
  text-align: left;
  border-bottom: 1px solid #aaa;
  margin: 7px 12px;
  text-indent: 5px;
}


table {
  margin: 0 12px;
}

table tr td {
  text-align: left;
  font-size: 15px;
}

ul.schemes {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.schemes li {
  display: inline-block;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 500ms;
  -moz-transition: -moz-box-shadow 500ms;
  -o-transition: -o-box-shadow 500ms;
  -webkit-box-shadow: inset #333 0 0 0px;
  -o-box-shadow: inset #333 0 0 0px;
  -moz-box-shadow: inset #333 0 0 0px;
  box-shadow: inset #333 0 0 0px;
}

ul.schemes li:hover {
  -webkit-box-shadow: inset #333 0 0 5px;
  -o-box-shadow: inset #333 0 0 5px;
  -moz-box-shadow: inset #333 0 0 5px;
  box-shadow: inset #333 0 0 5px;
  text-decoration: underline;
}

ul.schemes li img {
  width: 150px;
}


.footer {
  margin: 4px;
  font-size: 13px;
}

canvas {
/*  border: 1px solid red;*/
}

#log-panel {
  font-family: Arial;
  margin: 0;
  position: fixed;
  top: 0;
  right: 0;
  padding: 5px;
  color: white;
  background-color: red;
  font-weight: bold;
  font-size: 1em;
  z-index: 4000;
  border-bottom-left-radius: 0.5em;
}
